{%extends 'base.jinja'%}

{%block title %} Usuarios {%endblock%}

{%block content%}

<style>
    .tableDiv {
        width: 100%;
        overflow-y: scroll;
    }
    @media (max-width: 763px) {
        td div {
            width: 150px;
            height: 30px;
            overflow-y: scroll;
        }

        table {
            font-size: 12px;
        }

        table .btn {
            font-size: 10px;
        }

        .filterForm {
            font-size: 10px;
        }

        .filterForm a {
            font-size: 10px;
        }

        .filterForm button {
            font-size: 11px;
        }

        .form-control {
            font-size: 10px;
        }

        .roleRow {
            font-size: 8px;
            font-weight: bold;
        }

        .userRow div {
            width: 115px;
        }
    }
</style>

<br><br><br><br>
<form class="form-inline filterForm" method="post" action="{{url_for('filter_users')}}">
    <div class="row">
        <div class="col col-12">
            {%if text%}
            <input type="text" name="filterText" class="form-control" placeholder="Buscar Usuarios" value="{{text}}">
            {%else%}
            <input type="text" name="filterText" class="form-control" placeholder="Buscar Usuarios">
            {%endif%}
        </div>
        <div class="col col-5">
            <button class="btn btn-success" type="submit"><strong>Buscar</strong></button>
        </div>
    </div>
</form>
<br><br><br>
<div >
<table class="table table-dark table-striped" class="tableDiv">
    <thead>
        <tr>
            <th>
                Usuario
            </th>
            <th>
                Rol
            </th>
            <th>
                <a href="{{url_for('new_user')}}" class="btn btn-success"><strong>Nuevo</strong></a>
            </th>
        </tr>
    </thead>
    <tbody>
        {%for user in users%}
        <tr>
            <td class="userRow">
                <div>{{user['username']}}</div>
            </td>
            <td class="roleRow">{{user['role']}}</td>
            <td>
                <a href="{{url_for('delete_user', id=user['id'])}}" class="btn btn-danger"><strong>Eliminar</strong></a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
</div>

<nav aria-label="Page navigation" class="paginador">
    <ul class="pagination">
        {% if page > 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('index_users', page=page-1) }}">Anterior</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Anterior</span>
        </li>
        {% endif %}

        {% for p in range(1, total_pages+1) %}
        <li class="page-item {% if p == page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('index_users', page=p) }}">{{ p }}</a>
        </li>
        {% endfor %}

        {% if page < total_pages %} <li class="page-item">
            <a class="page-link" href="{{ url_for('index_users', page=page+1) }}">Siguiente</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Siguiente</span>
            </li>
        {% endif %}
    </ul>
</nav>


{%endblock%}