{%extends 'base.jinja'%}

{%block title%} Nuevo Cliente {%endblock%}

{%block content%}

<link href="../../static/style/forms.css" rel="stylesheet">
<br><br>
{%if errors %}
    {%for error in errors%}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {%endfor%}
{%endif%}


<form method="post" class="createForm" action="{{url_for('new_client')}}">
    <a href="{{url_for('index')}}" class="btn btn-primary"><strong>Volver</strong></a>
    <div class="formContent">
        <div class="row">
            <div class="col col-sm-4">
                <label for="dniInput" class="form-label"><strong>DNI</strong></label>
                <input type="text" name="dni" class="form-control" id="dniInput" required>
            </div>
            <div class="col col-sm-4">
                <label for="nameInput" class="form-label"><strong>Nombre</strong></label>
                {%if nombre%}
                    <input type="text" name="nombre" class="form-control" id="nameInput" value="{{nombre}}" required>
                {%else%}
                    <input type="text" name="nombre" class="form-control" id="nameInput" required>
                {%endif%}
            </div>
            <div class="col col-sm-4">
                <label for="subnameInput" class="form-label"><strong>Apellidos</strong></label>
                {%if apellidos%}
                    <input type="text" name="apellidos" class="form-control" id="subnameInput" value="{{apellidos}}" required>
                {%else%}
                    <input type="text" name="apellidos" class="form-control" id="subnameInput" required>                
                {%endif%}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-12">
                <label for="direccionInput" class="form-label"><strong>Direccion</strong></label>
                {%if direccion%}
                    <input type="text" name="direccion" class="form-control" id="direccionInput" value="{{direccion}}" required>
                {%else%}
                    <input type="text" name="direccion" class="form-control" id="direccionInput" required>                    
                {%endif%}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-6">
                <label for="emailInput"><strong>Correo electronico</strong></label>
                {%if correo%}
                    <input type="text" name="email" class="form-control" id="emailInput" value="{{correo}}" required>
                {%else%}
                    <input type="text" name="email" class="form-control" id="emailInput" required>                
                {%endif%}
            </div>
            <div class="col col-6">
                <label for="telefonoInput"><strong>Telefono</strong></label>
                {%if telefono%}
                    <input type="text" name="telefono" class="form-control" id="telefonoInput" value="{{telefono}}" required>
                {%else%}
                    <input type="text" name="telefono" class="form-control" id="telefonoInput" required>
                {%endif%}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-12">
                <label for="googleLinkInput"><strong>Enlace de Google Maps</strong></label>
                {%if  googlemap_link%}
                    <input type="text" name="googlemap_link" class="form-control" id="googleLinkInput" value="{{googlemap_link}}" required>
                {%else%}
                    <input type="text" name="googlemap_link" class="form-control" id="googleLinkInput" required>
                {%endif%}
            
            </div>
        </div>
    </div>
    <div class="buttonsForm">
        <button type="submit" class="btn btn-success"><strong>Crear</strong></button>
        <button type="reset" class="btn btn-secondary"><strong>Resetear</strong></button>
    </div>
</form>


{%endblock%}