{%extends 'base.jinja'%}

{%block title%} {{client['dni']}} {%endblock%}

{%block content%}
<link href="../../static/style/style.css" rel="stylesheet">
<link href="../../static/style/forms.css" rel="stylesheet">
<br><br><br>
<div style="text-align: center;">
    <a href="{{url_for('index')}}" class="btn btn-primary"><strong>Volver</strong></a>
</div>
<br><br><br>
<div class="detallesCliente">
    <div class="contenido">
        <h3>Datos Personales ({{client['dni']}})</h3>
        <div class="data">
            <strong>Nombre: </strong><span>{{client['nombre']}}</span><br>
            <strong>Apellidos: </strong><span>{{client['apellidos']}}</span><br>
        </div>
        <br><br>
        <h3>Contacto</h3>
        <div class="data">
            <strong>Telefono: </strong><a href="tel:+34{{client['telefono']}}">+34 {{client['telefono']}}</a><br>
            <strong>Correo: </strong><a href="mailto:{{client['email']}}">{{client['email']}}</a>
        </div>
        <br><br>
        <h3>Ubicación</h3>
        <div class="data">
            <strong>Direccion: </strong><span>{{client['direccion']}}</span><br>
            <strong>Enlace Google Maps: </strong><span><strong><a
                href="{{client['googlemap_link']}}">{{client['googlemap_link']}}</a></strong></span>
        </div>
    </div>
    <!-- Seccion de Notas -->
    <style>
        .sectionNotes .row {
            margin: 5px;
        }

        .sectionNotes .col {
            background: rgb(134, 134, 134);
            height: 120px;
            padding: 5px;
            border-radius: 10px;
            margin: 5px;
        }

        .sectionNotes .col p {
            color: white;
            width: 100%;
            height: 120px;
            background: rgb(70, 70, 70);
            padding: 5px;
            border-radius: 10px;
            overflow-x: scroll;
        }

        .sectionNotes .col a {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }

        .sectionNotes .col a:hover {
            color: blue;
        }
    </style>

    <br><br><br>
    <div class="sectionNotes">
        <div class="row">
            {%for note in notas%}
            <div class="col col-3">
                <p>{{note['nota']}}</p>
            </div>
            {%endfor%}
        </div>
    </div>
    <br><br><br>
</div>

{%endblock%}